.HeaderOptions
{
    font-size: 1.2rem;
    color: white;
    transition: 0.5s;
    display: table-cell;
    text-align: center;
    padding-top: 0.8rem;
    font-family: auto;

}

.HeaderOptions:hover
{
    transform: scale(1.2);
    color: black;
    cursor: pointer;
    background-color: #ccf6c8;
}

.Table-Cell-Rep
{
    display: inline-flex;
}

.ZoomEffect
{
    transition: 0.5s;
}

.ZoomEffect:hover
{
    transform: scale(0.9);
    opacity: 0.7;
}