.ImageAnimationEffect
{
    transition: 0.5s;
    height: 25rem;
}

@media only screen and (max-width: 600px) {
    .ImageAnimationEffect
    {
        width: 100%;
    }
}

.ImageAnimationEffect:hover
{
    transform: scale(0.85);
}
.ImageContainer
{
    text-align: center;
}